{
    "APP_PORT": 8000,
    "JWT_SECRET_KEY": "",
    "FRONTEND_URL": "",
    "MICROSERVICE_BASE_URL": "",
    "MICROSERVICE_BACKEND_ID": "",
    "MICROSERVICE_API_KEY": "",
    "EMAIL_SMTP_SERVER": "",
    "EMAIL_SMTP_PORT": 587,
    "EMAIL_USE_TLS": true,
    "EMAIL_HOST_USER": "",
    "EMAIL_HOST_PASSWORD": "",
    "ATTACHMENT_STORAGE_PATH": "./data/uploads/attachments",
    "INTERNAL_API_KEY": "some-strong-random-secret",
    "COOKIE_SECRET" : "f4e8373350b504674fb13e0ec97055f0e6559fdd9b61eacfe449d2ad7802188e",
    "ENV":"development",
    "RECAPTCHA_SECRET_KEY": "xxxxxxxxxxxxxxx",
    "GOOGLE_CLIENT_ID": "your-new-client-id",
    "GOOGLE_CLIENT_SECRET": "your-new-client-secret",
    "GOOGLE_REDIRECT_URI": "http://localhost:8501/auth/google/callback"
} 